:root {
    --brand: #01b5fb;
    --sub: #6ac754;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

 .about-section {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}
.s-one {
  font-size: 32px;
  /* color: var(--brand); */
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.s-one::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: black;
  bottom: 1px;
  left: calc(50% - 60px);
}

.s-one::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background: var(--brand);
  bottom: 0;
  left: calc(50% - 20px);
}

/* ==========================  */
/* Make the map and contact info the same height */
.map-container,
.contact-info-container {
  height: 100%;
}

/* Align the contact information in one column (single item per row) */
.contact-info-container {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contact-info-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
  /* Ensure each item takes up full width */
}

.contact-info {
  display: flex;
  align-items: start;
  gap: 20px;
  width: 100%;
  /* Adjust to fill entire row */
}

.contact-icon {
  width: 50px;
  height: 50px;
  background: #1c1c1c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon i {
  color: #ffffff;
  font-size: 18px;
}

.contact-text {
  padding-left: 15px;
}

.contact-text h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
}

.contact-text p {
  font-size: 16px;
  color: #454545;
}

/* Styling for social icons */
.contact-social a {
  margin-right: 10px;
  font-size: 18px;
  color: var(--sub);
}

.contact-social a:hover {
  color: #719a0a;
}

/* Ensure map has proper sizing and responsiveness */
.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.border-top{
  border-top: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.border-top:hover{
  box-shadow: rgb(204, 219, 232) 1px 1px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.border-top small a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.border-top small a i{
  color: #25d366 !important;
  font-size: 22px;
}

 /* Path */
.banner-area {
  position: relative;
  min-height: 300px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/image-5/ab-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 58px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .banner-title {
    font-size: 32px;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-heading {
  text-align: center;
}

.breadcrumb {
  padding: 0;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.breadcrumb li a,
.breadcrumb .breadcrumb-item,
.breadcrumb li a:focus {
  color: #fff !important;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
/*** Service, Price & Team ***/
.service-item,
.price-item,
.team-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 500px;
}

.service-item img,
.team-item img {
    transition: .5s;
    transform: scale(1.2);
}

.service-item:hover img,
.team-item:hover img {
    transform: scale(1.3);
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: #FFFFFF;
    background: var(--bs-primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.team-item div.btn-slide span a i {
    padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
    background: var(--bs-secondary);
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
    border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
    left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--bs-secondary);
}
/*end*/

.why-choose-section {
  padding: 5rem 0; }
  .why-choose-section .img-wrap {
    position: relative; }
    .why-choose-section .img-wrap:before {
      position: absolute;
      content: "";
      width: 255px;
      height: 217px;
      background-image: url("../img/image5");
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-transform: translate(-40%, -40%);
      -ms-transform: translate(-40%, -40%);
      transform: translate(-40%, -40%);
      z-index: -1; }
    .why-choose-section .img-wrap img {
      border-radius: 20px; }

      .section-title {
  color: #2f2f2f; }

  .feature {
  margin-bottom: 30px; }
  .feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px; }
    .feature .icon:before {
      content: "";
      width: 33px;
      height: 33px;
      position: absolute;
      background: rgba(59, 93, 80, 0.2);
      border-radius: 50%;
      right: -8px;
      bottom: 0; }
  .feature h3 {
    font-size: 14px;
    color: #2f2f2f; }
  .feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a; }

    .logo-design{
  display: flex;
  align-items: center;
  color:#0e0d0dd7;
}
 .logo-design .logo-img img{
    height: 60px !important;
  }
  .logo-design .logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
  }
  .logo-design .logo-text span{
    line-height: 25px;
  }
@media (max-width:500px) {
  .logo-design .logo-img img{
    height: 30px !important;
  }
  .logo-design .logo-text{
    font-size: 15px;
  }
  .logo-design .logo-text span{
    line-height: 20px;
  }
  .vision-content-1{
    padding: 20px 30px 0 30px !important;
  }
  .vision-content-2{
    padding: 20px 30px 0 30px !important;
  }
}
@media (max-width:992px) {
  .logo-design .logo-img img{
    height: 40px !important;
  }
}